* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

/* MENU */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: #fff;
  padding: 15px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

/* SEÇÕES */
section {
  padding: 40px 20px;
}

/* PROJETOS */
#lista-projetos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  width: 300px;
  border-radius: 8px;
}

/* RODAPÉ */
footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}

/* RESPONSIVO */
@media (max-width: 600px) {
  .menu {
    flex-direction: column;
  }

  #lista-projetos {
    flex-direction: column;
  }
}